* {
    box-sizing: border-box;
    font-family: 'Poppins', 'Helvetica', sans-serif;
    font-size: 16px;
    color: #D5D5D5;
}

body {
    color: #24292e;
    margin: 0 auto;
    background-color: gray;    
    font-size: large;
    margin: 0 auto;
    width: 75%;
}

.header, 
.presentation-wrapper,
.main,
.footer{
    max-width: 1440px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

.navigation-list {    
    display: flex;
    justify-content: space-between;
}

h1 {    
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #f5f5f5;
}

h2 {    
    font-family: 'Nunito', 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 42px;
    color: #aaa;
}

h3 {
    font-weight: 400;
    font-size: 24px;
    color: #d5d5d5;
}

h3 + p {
    line-height: 1.75em;
    color: #aaa;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    margin: 40px auto 0 auto;
}

h4 + p {
    margin-top: 0;
}

b {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #ACBFE3;
}

a:visited {
    color: #556788;
}

a b, li b {
    color: #ACBFE3;;
}

ul > li {
    list-style-type: none;
}

.colortext {
    color: rgb(194, 185, 144);
}

.underline {
    text-decoration-line: underline;
    color: #ACBFE3;
}
